
		<div class="wrapper">
		<img class ="stillcut" src=" https://d12hfz37g51hrt.cloudfront.net/s/n_v1in1/mzsb4x-7035c060e667874f25cc.jpg?1392290044" alt="겨울왕국 이미지"/>
	
		

		<div class="movie-information">

			<h1>겨울왕국 개영페</h1>
			<span class="av-rating"> 평균별점 4.5 </span>
			<img class="poster" src="  https://d12hfz37g51hrt.cloudfront.net/p/b/2ed08cec4232c7f9dbf2.jpg?1417641366" alt="겨울왕국 이미지"/>		
				<span>예상별점 : 3.4</span>
				<div> Frozen, 2013, 미국, 애니메이션, 판타지, 전체관람가, 1시간 48분
				<ul>
					<li>보고싶어</li>
					<li>좋아</li>
					<li>관심없어</li>
				</ul>		 

				</div>
	    </div>
		<h3>줄거리</h3>
		<p>서로가 최고의 친구였던 자매 ‘엘사’와 ‘안나’. 하지만 언니 ‘엘사’에게는 하나뿐인 동생에게조차 말 못할 비밀이 있다. 모든 것을 얼려버리는 신비로운 힘이 바로 그것. ‘엘사’는 통제할 수 없는 자신의 힘이 두려워 왕국을 떠나고, 얼어버린 왕국의 저주를 풀기 위해 ‘안나’는 언니를 찾아 환상적인 여정을 떠나는데...</p>
		<ol>
			<li><img src="https://d12hfz37g51hrt.cloudfront.net/user/768238/medium/profile_1402906537.jpg" alt="이동진 썸네일">
			<span>별 3.5개</span>
			<span>이동진 평론가</span>
			<p>중독적인 노래들과 낭만적인 겨울풍광의 위력</p>
			<div>2014년 6월 17일 부적절한 표현 신고하기 스포일러 신고하기</div>

		</li>
			<li>석영 : 재밌다. </li>
			<li>석영 : 재밌다. </li>

		</ol>
		</div>